{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block metadesc %}{{ article.description|e }}{% endblock %}
{% block open_graph %}
{% if OPEN_GRAPH %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
    {% if article.description %}
      <meta property="og:description" content="{{ article.description|striptags|e }}"/>
    {% endif %}
    {% if article.category %}
      <meta property="article:section" content="{{ article.category }}"/>
    {% endif %}
    {% if article.tags %}
      {% for tag in article.tags %}
        <meta property="article:tag" content="{{ tag }}"/>
      {% endfor %}
    {% endif %}
    {% if OPEN_GRAPH_ARTICLE_AUTHOR %}
      <meta property="article:author"
            content="{{ OPEN_GRAPH_ARTICLE_AUTHOR }}"/>
    {% endif %}
    {% if article.social_image %}
      <meta property="og:image"
            content="{{ SITEURL }}/images/{{ article.social_image }}"/>
    {% endif %}
{% endif %}
{% if TWITTER_CARD and TWITTER_USERNAME %}
    <meta name="twitter:card" content="summary"> 
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.description|striptags }}">
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:domain" content="{{ SITEURL }}">
    {% if article.social_image %}
    <meta property="twitter:image"
          content="{{ SITEURL }}/images/{{ article.social_image }}"/>
    {% endif %}
{% endif %}
{% endblock %}
{% block content_header %}
  {% include "includes/article_top.html" ignore missing %}
{% endblock %}
{% block content_body %}
<article itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
  <header>
  {% if CUSTOM_ARTICLE_HEADER %}
	{% include "includes/" + CUSTOM_ARTICLE_HEADER %}
  {% else %}
	{% include "includes/article_header.html" %}
  {% endif %}
  </header>
  <div class="content-body" itemprop="text articleBody">
    {% if article.standfirst %}
      <p class="standfirst" itemprop="description">{{ article.standfirst|e }}</p>
    {% endif %}
    {% if article.image %}
      <img class="article-image img-responsive" alt="article header image" itemprop="image"
		   src="{{ SITEURL }}/images/{{ article.image }}" />
    {% endif %}
	{{ article.content }}
  </div>

  {% include "includes/article_end.html" ignore missing %}
  <hr />
  {% if CUSTOM_ARTICLE_SHARING %}
    {% include "includes/" + CUSTOM_ARTICLE_SHARING  %}
  {% endif %}
  {% include "includes/article_bottom.html" ignore missing %}

  {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
  <div class="comments">
	<h2>Comments</h2>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
				   (function() {
						var dsq = document.createElement('script');
						dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] ||
						 document.getElementsByTagName('body')[0]).appendChild(dsq);
				  })();
	</script>
  </div>
  {% endif %}
</article>
{% endblock %}

{% block scripts %}
  {% if CUSTOM_ARTICLE_SCRIPTS %}
    {% include "includes/" + CUSTOM_ARTICLE_SCRIPTS %}
  {% endif %}
{% endblock %}
