{% extends "index.html" %}
{% block title %}Category:{{ category }} - {{ SITENAME }}{% endblock %}
{% block metadesc %}{{ SITETAGALT }}Posts in category {{ category }}{% endblock %}

{% block    custom_header %}
{% if CUSTOM_HEADER_CATEGORY %}
{% include "includes/" + CUSTOM_HEADER_CATEGORY %}
{% endif %}
{% endblock custom_header%}

{% block    container_header %}
{% if CUSTOM_CONTAINER_TOP_CATEGORY %}
{% include "includes/" + CUSTOM_CONTAINER_TOP_CATEGORY %}
{% endif %}
{% endblock container_header %}

{% block    content_header %}
{% if CUSTOM_CONTENT_TOP_CATEGORY %}
{% include "includes/" + CUSTOM_CONTENT_TOP_CATEGORY %}
{% endif %}
<ol class="breadcrumb">
    <li><a href="{{ SITEURL }}/" title="Home" rel="home">
		<i class="fa fa-home fa-fw fa-lg"></i> </a></li>
{% if CATEGORIES_URL %}
    <li><a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories </a></li>
{% else %}
    <li>Categories </li>
{% endif %}
    <li class="active">{{ category }}</li>
</ol>
{% endblock content_header %}

{% block article %}
{% include "includes/index_summaries.html" %}
{% endblock article %}

{% block    content_footer %}
{% if CUSTOM_CONTENT_BOTTOM_CATEGORY %}
{% include "includes/" + CUSTOM_CONTENT_BOTTOM_CATEGORY %}
{% endif %}
{% endblock content_footer %}

{% block    container_footer %}
{% if CUSTOM_CONTAINER_BOTTOM_CATEGORY %}
{% include "includes/" + CUSTOM_CONTAINER_BOTTOM_CATEGORY %}
{% endif %}
{% endblock container_footer %}
