{% extends "base.html" %}
{% block title %}{{ super() }}{% if articles_page and articles_page.number > 1 %} - Page {{ articles_page.number }}{% endif %}{% endblock %}
{% block meta_other %}
{% include "includes/index_meta.html" ignore missing %}
{% endblock %}
{% block content_header %}{% endblock %}
{% block content_body %}
{% block article %}
{% if articles %}
  {% for article in (articles_page.object_list if articles_page else articles) %}
    <article>
      {% if CUSTOM_ARTICLE_HEADER_INDEX %}
        {% include "includes/" + CUSTOM_ARTICLE_HEADER_INDEX %}
      {% else %}
        {% include "includes/article_header.html" %}
      {% endif %}

      {% if loop.first and not articles_page.has_previous() %}
	    <div class="content-body">
        {% if article.standfirst %}
          <p class="standfirst">{{ article.standfirst|e }}</p>
        {% endif %}
		{{ article.content }}
		{% include "includes/comments.html" %}
	  </div>
	  {% else %}
      <div class="summary">
        {% if article.standfirst %}
          <p class="standfirst">{{ article.standfirst|e }}</p>
        {% endif %}
		{{ article.summary }}
		<p class="content-emphasis"><a href="{{ SITEURL }}/{{ article.url }}">
			Read more... <i class="fa fa-arrow-circle-right fa-fw fa-lg"></i> 
		</a></p>
      </div>
	  {% endif %}
    </article>

    <hr />
  {% endfor %}
{% endif %}
{% endblock article %}

{% block pagination %}
<div class="index-pager">
  {% if articles_page and articles_paginator.num_pages > 1 %}
	<!-- Workaround to fix pagination on category/tag/author index pages. -->
	{% if page_name != 'index' %}
	  {% set numprefix = 'index'  %}
	{% else %}
	  {% set numprefix = ''  %}
	{% endif %}
	<ul class="pagination">
	{% if articles_page.has_previous() %}
		{% set num = articles_page.previous_page_number() %}
		<li class="prev">
		  <a href="{{ SITEURL }}/{{ page_name }}{{ numprefix }}{{ num if num > 1 else '' }}.html">
			<i class="fa fa-chevron-circle-left fa-fw fa-lg"></i> Previous
		  </a>
		</li>
	{% else %}
		<li class="prev disabled"><a href="#">
			<i class="fa fa-chevron-circle-left fa-fw fa-lg"></i> 
			Previous</a>
		</li>
	{% endif %}
	{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
		<li class="{{ 'active' if num == articles_page.number else '' }}">
		  <a href="{{ SITEURL }}/{{ page_name }}{{ numprefix }}{{ num if num > 1 else '' }}.html">{{ num }}</a>
		</li>
	{% endfor %}
	{% if articles_page.has_next() %}
		<li class="next">
		  <a href="{{ SITEURL }}/{{ page_name }}{{ numprefix }}{{ articles_page.next_page_number() }}.html">
			Next <i class="fa fa-chevron-circle-right fa-fw fa-lg"></i>
		  </a>
		</li>
	{% else %}
		<li class="next disabled"><a href="#">
		  <i class="fa fa-chevron-circle-right fa-fw fa-lg"></i> Next</a>
		</li>
	{% endif %}
	</ul>
  {% endif %}
	<div class="pull-right home-top">
	  <a class="btn btn-sm btn-primary" href="{{ SITEURL }}/" title="Home" rel="home">
		<i class="fa fa-home fa-fw fa-lg"></i> </a>
	  &nbsp;
	  <a class="btn btn-sm btn-primary" href="#" title="Top">
		<i class="fa fa-angle-double-up fa-fw fa-lg"></i> </a> 
	</div>
</div> <!-- /index-pager -->
{% endblock pagination %}

{% endblock content_body %}
