{% extends "index.html" %}
{% block title %}Tag:{{ tag }} // {{ SITENAME }}{% endblock %}
{% block metadesc %}{{ SITETAGALT }}Posts tagged with {{ tag }}{% endblock %}
{% block meta_other %}<meta name="robots" content="noindex" />
{% endblock %}
{% block content_header %}
    <ul class="breadcrumb">
    <li><a href="{{ SITEURL }}/" title="Home"><i class="icon-home icon-fixed-width icon-large"></i> </a> 
	     <span class="divider">/</span></li>
    <li>Tags <span class="divider">/</span></li>
    <li class="active">{{ tag }}</li>
    </ul>
{% endblock %}
{% block article %}
{% include "includes/index_summaries.html" %}
{% endblock article %}
