{% extends "index.html" %}
{% block title %}Tag:{{ tag }} - {{ SITENAME }}{% endblock %}
{% block metadesc %}{{ SITETAGALT }} Posts tagged with {{ tag }}{% endblock %}
{% block meta_other %}<meta name="robots" content="noindex" />
{% endblock %}
{% block content_header %}
<ol class="breadcrumb">
    <li><a href="{{ SITEURL }}/" title="Home" rel="home">
		<i class="fa fa-home fa-fw fa-lg"></i> </a></li>
    <li>Tags </li>
    <li class="active">{{ tag }}</li>
</ol>
{% endblock %}
{% block article %}
{% include "includes/index_summaries.html" %}
{% endblock article %}
